<div class="container-fluid py-3">
  <header class="text-center">
    <h1 class="display-6">Editar programa académico</h1>
  </header>
</div>
<section class="container my-2 w-50 text-light p-2">
  <form [formGroup]="editarProgramaForm" (ngSubmit)="editarPrograma()">
    <div class="form-group">
      <label for="idPrograma">ID del Programa</label>
      <input id="idPrograma" formControlName="idPrograma" class="form-control-plaintext" readonly>
    </div>

    <div class="form-group">
      <label for="idFacultad">ID Facultad</label>
      <input id="idFacultad" formControlName="idFacultad" class="form-control">
    </div>

    <div class="form-group">
      <label for="nombrePrograma">Nombre del Programa</label>
      <input id="nombrePrograma" formControlName="nombrePrograma" class="form-control">
    </div>

    <div class="form-group">
      <label for="snies">SNIES</label>
      <input id="snies" formControlName="snies" class="form-control">
    </div>

    <div class="form-group">
      <label for="descripcionPrograma">Descripción del Programa</label>
      <input id="descripcionPrograma" formControlName="descripcionPrograma" class="form-control">
    </div>

    <div class="form-group">
      <label for="imagenPrograma">URL de la Imagen</label>
      <input id="imagenPrograma" formControlName="imagenPrograma" class="form-control">
    </div>

    <div class="d-flex justify-content-between mt-4">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!editarProgramaForm || editarProgramaForm.invalid">
        Editar programa
      </button>
      <button type="button" class="btn btn-danger" (click)="cancelarEditarPrograma()">Cancelar</button>
    </div>
  </form>


</section>

