#carouselExampleIndicators {
  padding-bottom: 30px; /* Espacio adicional para los indicadores */
}

.carousel-indicators button {
  background-color: rgba(0,168,88,255);
  gap: 10px;
  width: 12px;
  height: 12px;
  border: none;
}

.sa {
  border: none;
  background-color: #000000;
  width: 5%;
  height: 30%;
  margin: 150px 50px 10px 50px;
}

.banner {
  margin: 30px auto;
  width: 65%;
  display: block;

}

#cards {
  margin: 10px auto;
  width: 65%;
  height: 50%;
}

.card {
  background-color: rgb(255, 255, 255);
  color: white;
  position: relative;
  width: 100%;
  height: 420px;
  border: none;
  margin-bottom: 30%;
}

button {
  border: black solid 1px;
}

button:hover {
  border: aliceblue solid 1px;
}

.crudbtns {
  gap: 10px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h5 {
  position: absolute;
  margin: auto;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: rgb(0, 167, 87);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(0, 157, 82);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000000;
}

.card .back h5 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
