#carouselExampleIndicators {
  padding-bottom: 50px; /* Espacio adicional para los indicadores */
}


.carousel-indicators button {
  background-color: rgba(0,168,88,255);
  width: 12px;
  height: 12px;
  border: none;
}

.banner {
  margin: auto;
  width: 65%;
  display: block;
}

#cards {
  margin: 0 auto;
  width: 65%;
  height: 50%;
}

.card {
  background-color: rgba(0,168,88,255);
  color: white;
}

button {
  border: black solid 1px;
}

button:hover {
  border: aliceblue solid 1px;
}

.crudbtns {
  gap: 10px;
}
